{{template "base" . }}

{{define "title"}}
Payment Succeeded
{{end}}

{{define "content"}}
<h2 class="mt-5">Payment Succeeded</h2>
<hr>
<p>Payment Intent: {{index .Data "paymentIntent"}}
<p>Cardholder: {{index .Data "cardholder"}}
<p>Email: {{index .Data "email"}}
<p>Payment Method: {{index .Data "paymentMethod"}}
<p>Payment Amount: {{index .Data "paymentAmount"}}
<p>Currency: {{index .Data "paymentCurrency"}}
{{end}}